.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: #eee;
  max-width: 300px;
  margin: 0 auto;
}

.display {
  grid-column: 1 / span 4;
  background-color: rgb(188, 25, 25);
  text-align: right;
  padding: 5px;
  font-size: 24px;
  border: 1px solid rgb(28, 83, 184);
}

button {
  font-size: 20px;
  background-color: #a1b428;
  color: rgb(20, 103, 91);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e11976;
}

button:active {
  background-color: #5c9c1c;
  color: white;
}
