.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: rgb(182, 21, 21);
  max-width: 300px;
  margin: 0 auto;
}

.display {
  grid-column: 1 / span 4;
  background-color: rgb(31, 50, 134);
  text-align: right;
  padding: 5px;
  font-size: 24px;
  border: 1px solid rgb(80, 167, 29);
}

button {
  font-size: 20px;
  background-color: #10bfcc;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(219, 189, 18);
}

button:active {
  background-color: rgb(170, 35, 211);
  color: white;
}
